* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(70px * 8);
    height: calc(70px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell img {
    width: 55px;
    height: 55px;
    position: relative;
}

.white {
    background-color: rgb(255, 255, 119);
}

.black {
    background-color: rgba(81, 41, 0, 0.551);
}

.selected {
    background-color: rgb(131, 201, 224);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(47, 185, 47);
}

.isAttacked {
    background-color: rgb(47, 185, 47);
}

.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.lost {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(50vh - 60px);
    width: auto;
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}